<ion-view view-title="Home">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="list in lists" type="item-text-wrap" href="#/tab/lists/{{list.id}}">
        <h2>{{list.name}}</h2>
        <p>{{list.lastWord}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(list)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

    <div class="bar bar-footer bar-light">
  		<div class="col col-50 text-center" >
		</div>
		<div class="col col-50 text-center" >
			<a class="button button-icon icon ion-plus-circled balanced" ng-click="like(product.id)"></a>
		</div>
	</div>
  </ion-content>
</ion-view>
